@font-face {
    font-family: 'Jersey25';
    src: url('Jersey25-Regular.ttf');
}

.input-group .form-control {
}

.btn-primary {
}
.titled-pane > .title {
    -fx-padding: 3;
    -fx-font-size: 12;
}

.h1 {
    -fx-font-family: 'Jersey 25';
    -fx-font-size: 48px;
}
.welcome-text {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50; /* Dark blue color */
}
.history-title {
    font-family: 'Jersey25';
        src: url('Jersey25-Regular.ttf');
 }


 .login-title {
    -fx-font-family: 'Jersey 25';
     -fx-font-size: 20px;
     -fx-text-fill: #333;
 }

 .login-label {
    -fx-font-family: 'Jersey 25';
     -fx-font-size: 20px;
     -fx-text-fill: #333;
 }